<div class="title-item">
  <img
    src="https://image.tmdb.org/t/p/w500/{{ titulos?.poster_path }}"
    alt="{{ titulos?.title || titulos?.original_name }}"
  />
  <div class="items">
    <div class="left-side">
      <button type="button" class="btn-play">
        <i class="material-icons">play_arrow</i>
      </button>
      <h2>{{ titulos?.title || titulos?.original_name }}</h2>
      <ul class="infos">
        <li class="relevance">{{ titulos?.vote_average }} % relevante</li>
      </ul>
      <ul class="categories"></ul>
    </div>
  </div>
</div>
