<div class="title-item">
  <video src="" controls muted="muted"></video>
  <img
    src="https://image.tmdb.org/t/p/w500/{{ titulos?.backdrop_path }}"
    alt="titulos?.title"
  />
  <div class="items">
    <div class="left-side">
      <h2>{{ titulos?.title || titulos?.original_name}}</h2>
      <button type="button" class="btn-play">
        <i class="material-icons">play_arrow</i>
      </button>
      <ul class="infos">
        <li class="relevance">{{ titulos?.vote_average }} % relevante</li>
      </ul>
      <ul class="categories"></ul>
    </div>
  </div>
</div>

