
  <div class="title-item">
    <video [src]="titulo.trailer" controls muted="muted"></video>
    <img [src]="titulo.cover" alt="Título">
    <div class="items">
        <div class="left-side">
            <button type="button" class="btn-play"><i class="material-icons">play_arrow</i></button>
            <h2>{{titulo.name}}</h2>
            <ul class="infos">
                <li class="relevance">{{titulo.relevance}}% relevante</li>
                <li class="age " [ngClass]="{'age-free': titulo.age ===0,'age-12': titulo.age ===12,'age-14': titulo.age ===14,'age-16': titulo.age ===16,'age-18': titulo.age ===18}" ></li>
                <li class="parts">{{titulo.parts}} partes</li>
            </ul>
            <ul class="categories">
                <li *ngFor="let categoria of titulo.categories">{{categoria}}</li>
            </ul>
        </div>
    </div>

</div>
