<div class="row no-gutters">
  <div class="col-12 text-white">
    <div class="p-2 d-flex justify-content-start h-100">
      <div>
        <h1 class="h3">{{ moviesbanner?.title }}</h1>
        <small class="d-flex my-2">
          <span class="mr-3">{{ moviesbanner?.release_date }} </span>
          <span class="mr-3"> 12 </span>
          <span> 182min</span>
        </small>
        <p class="d-none d-lg-block">{{ moviesbanner?.overview }}</p>
        <a href="#" class="btn btn-primary text-uppercase font-weight-bold">Assistir</a>
      </div>
      <div>
        <img
          src="https://image.tmdb.org/t/p/w500/{{
            moviesbanner?.backdrop_path
          }}"
        />
      </div>
    </div>
  </div>
</div>
