.card-datails-backdrop-contrast{
  opacity: 0.3;
}
.card-backdrop-contrast{
  background-color: rgba(0, 0, 0, 0.767);;
}
.button-contrast{
  background-color: rgb(0, 0, 0);
  color: rgb(148, 148, 148);
  font-weight: bold;
}
